<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yangl.androidsample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.RxJavaTestActivity" />
        <activity android:name=".touchEvent.scrollconflict.ScrollRecyclerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 适配三星S8 将手机的最大纵横比扩大到2.4来适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <service
            android:name=".service.MusicService"
            android:label="@string/app_name" />
        <service android:name=".service.MyIntentService" />

        <activity android:name=".activity.ShowUiSizeActivity" />
        <activity android:name=".activity.ShowBottomSheetActivity" />
        <activity android:name=".activity.ShowMyUIActivity" />
        <activity android:name=".zhihuAd.ZhiHuAdActivity" />
        <activity android:name=".IRecyclerViewSample.irecyclerCoordinatory.IRecyclerViewWithListenerActivity" />
        <activity android:name=".IRecyclerViewSample.irecyclerSimple.IrecyclerViewSimpleActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".animation.propertyAnimation.ObjectAnimatorActivity" />
        <activity android:name=".animation.propertyAnimation.ValueAnimatorActivity" />
        <activity android:name=".animation.propertyAnimation.ValueAnimListenerActivity" />
        <activity android:name=".scrollView.ScrollViewNoScrollActivity" />
        <activity android:name=".GestureDector.GestureDectorActivity" />
        <activity android:name=".activity.GestureActivity" />
        <activity android:name=".recyclerView.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerView.GridRecyclerViewActivity" />
        <activity android:name=".recyclerView.StaggeredRecyclerViewActivity" />
        <activity android:name=".recyclerView.RandomStaggeredRecyclerActivity" />
        <activity android:name=".activity.ConstraintLayoutActivity" />
        <activity android:name=".activity.VolumeListenerActivity" />
        <activity android:name=".activity.NetStatusActivity" />
        <activity android:name=".activity.Point9Activity" />
        <activity android:name=".activity.ShadowActivity" />
        <activity android:name=".activity.ViewStubActivity" />
        <activity android:name=".recyclerView.AnchorRecyclerViewActivity" />
        <activity android:name=".activity.UTF8LengthActivity" />
        <activity android:name=".activity.TestDumplicationResActivity" />
        <activity android:name=".activity.AlterDialogActivity" />
        <activity android:name=".activity.SystemInfoActivity" />
        <activity android:name=".activity.ExceptionActivity" />
        <activity android:name=".activity.SomeTestActivity" />
        <activity android:name=".testActivity.ConfigChangeActivity" />
        <activity android:name=".animation.propertyAnimation.RotateTestActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".service.MusicServiceActivity" />
        <activity android:name=".service.IntentServiceActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.NavigationBarActivity" />
        <activity android:name=".constraint.SimpleConstraintActivity" />
        <activity android:name=".constraint.ConstraintLayoutGoneActivity" />
        <activity android:name=".activity.RelativeLayoutTestActivity" />
        <activity android:name=".constraint.SimpleConstraintActivity1" />
        <activity android:name=".constraint.ChainConstraintActivity" />
        <activity android:name=".activity.IncludeActivity" />
        <activity
            android:name=".activity.TestSingleTaskActivity"
            android:taskAffinity="com.example.yangl.androidsample.lauchMode.testsingletaskaactivity" />
        <activity
            android:name=".lauchMode.SingleTaskActivity"
            android:taskAffinity="com.example.yangl.androidsample.lauchMode.singletaskactivity" />
        <activity android:name=".lauchMode.EmptyActivity" />
        <activity android:name=".activity.LayoutParamActivity" />
        <activity
            android:name=".someActivity.ScreenOrientationTestActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".someActivity.TaskHeapAllowParentActivity1"
            android:taskAffinity="com.yl.allow.parent.task1" />
        <activity
            android:name=".someActivity.TaskHeapAllowParentActivity2"
            android:launchMode="singleInstance"
            android:taskAffinity="com.yl.allow.parent.task2" />
        <activity android:name=".someActivity.ActionMatchActivity">
            <intent-filter>
                <action android:name="com.yl.actionmatch.action1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".broadcast.BroadcastActivity1" />
        <activity android:name=".broadcast.BroadcastActivity2" />
        <activity android:name=".broadcast.BroadcastActivity3" />
        <activity android:name=".activity.BroadcastActivity" />
        <activity android:name=".someActivity.SpannableActivity" />
        <activity android:name=".someActivity.ScrollToActivity" />
        <activity android:name=".activity.ViewPager2" />
        <activity android:name=".activity.ClickEventActivity" />
        <activity android:name=".someActivity.ClickEventTestActivity" />
        <activity android:name=".activity.ImageScaleTypeActivity" />
        <activity android:name=".activity.HandlerActivity" />
        <activity
            android:name=".activity.OnConfigChangeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".someActivity.LayoutMarginParamActivity" />
        <activity android:name=".activity.FragmentLiftActivity" />
        <activity android:name=".activity.EventBusTestActivity" />
        <activity android:name=".someActivity.TestEventBusActivity" />
        <activity android:name=".activity.FrescoTestActivity" />
        <activity android:name=".someActivity.BackGroundActivity" />
        <activity android:name=".activity.RXJavaActivity" />
        <activity android:name=".someActivity.InnerClassActivity" />
        <activity android:name=".activity.HandlerTestActivity" />
        <activity
            android:name=".someActivity.ViewLifeCycleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor" />
        <activity android:name=".someActivity.FrescoImageTypeActivity" />
        <activity android:name=".activity.ImageCorpActivity" />
        <activity android:name=".imageCorp.imagefactory.ImageFactoryActivity" />
        <activity android:name=".activity.ShaperViewActivity" />
        <activity android:name=".someActivity.EventBusSubActivity" />
        <activity android:name=".activity.HahaTestActivity" />
        <activity android:name=".testActivity.ObjectLeakActivity" />
        <activity android:name=".activity.TouchEventActivity" />
        <activity android:name=".touchEvent.outsideIntercect.TouchOutActivity" />
        <activity android:name=".touchEvent.outsideIntercept2.TouchOutActivity2" />
        <activity android:name=".touchEvent.outsideIntercept3.TouchOutActivity3" />
        <activity android:name=".touchEvent.outsideIntercept4.TouchOutActivity4" />
        <activity android:name=".touchEvent.outsideInterceptMove.TouchOutMoveActivity" />
        <activity android:name=".touchEvent.innerIntercept.TouchInnerActivity" />
        <activity android:name=".touchEvent.simple.SimpleTouchActivity" />
        <activity android:name=".touchEvent.customviewpager.OuterDemoActivity" />
        <activity android:name=".touchEvent.customviewpager.InnerDemoActivity" />
        <activity android:name=".touchEvent.ViewPagerRecyclerViewActivity" />
        <activity android:name=".touchEvent.myCoordinatorLayout.MyCoordinatorActivity" />
        <activity android:name=".touchEvent.myStickNavLayout.StickyNavActivity" />
        <activity android:name=".touchEvent.scrollParent.MyNestedScrollActivity" />
        <activity android:name=".touchEvent.scrollParent.OtherNestedActivity" />
        <activity android:name=".touchEvent.myBehavor.FollowBehaviorActivity" />
        <activity android:name=".touchEvent.myBehavor.RecyclerViewBehaviorActivity" />
        <activity android:name=".activity.StartActivityForResultActivity" />
        <activity android:name=".someActivity.StartActivityForResultTestActivity" />
        <activity android:name=".someActivity.TextViewScrollToActivity" />
        <activity
            android:name=".activity.GlideDemoActivity"
            android:label="@string/title_activity_glide_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AIDLTestActivity" />

        <service
            android:name=".AidlService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.yangl.androidsample.action"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>