<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.eventbussource">

    <application>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".SecondActivity">
        </activity>
        <activity
            android:name=".StickyActivity"
            android:label="@string/title_activity_sticky"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>